<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="EABI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
        <identity impersonate="false" />
  </system.web>
  <system.serviceModel>
    <client>
      <endpoint address="https://gsa.ecpic.gov/eCPIC.WcfService/WcfService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IWcfService" contract="eCPICWcfService.IWcfService" name="WSHttpBinding_IWcfService"/>
    </client>
    
      
    <services>
      <service name="EABI.EAOpen">
          <endpoint address="" binding="webHttpBinding" contract="EABI.IEAOpen" bindingConfiguration="ApiQuotaBinding" behaviorConfiguration="webHttpBehavior" /> 
        </service>  
    </services>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IWcfService">
          <security mode="Transport">
            <transport clientCredentialType="None" />
          </security>
        </binding>
      </wsHttpBinding>
      <webHttpBinding>
        <binding name="ApiQuotaBinding" closeTimeout="00:03:00" openTimeout="00:03:00"
          receiveTimeout="00:10:00" sendTimeout="00:03:00" maxBufferSize="1048576000"
          maxBufferPoolSize="1048576000" maxReceivedMessageSize="1048576000">
          <readerQuotas maxDepth="32" maxStringContentLength="1048576000"
            maxArrayLength="1048576000" maxBytesPerRead="1048576000" />
          <security mode="None" />
        </binding>
      </webHttpBinding>
    </bindings> 
    <behaviors>
      <endpointBehaviors>
        <behavior name="webHttpBehavior">
          <webHttp />
        </behavior>   
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="false" />
  </system.webServer>
  <connectionStrings>
<!--    <add name="dbconnection" connectionString="Data Source=ICOH2M-QAAPP01\SYSARCH;Initial Catalog=EA_ODS_DEV4;User ID=EA_ODS;Password=GSAods;MultipleActiveResultSets=True;" />   -->
    <add name="dbconnection" connectionString="Data Source=ICOH2M-QAAPP01\SYSARCH;Initial Catalog=EA_ODS_Dev4;Integrated Security=True;MultipleActiveResultSets=True;" />   
  </connectionStrings>

  <applicationSettings>
    <EABI.Properties.Settings>
      <setting name="EABI_SFDC_SforceService" serializeAs="String">
        <value>https://login.salesforce.com/services/Soap/c/32.0</value>
      </setting>
    </EABI.Properties.Settings>
  </applicationSettings>
</configuration>
